@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Sora', sans-serif;
}

.animated-gradient-border {
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #B145FF, #30A0FF);
  transition: box-shadow 0.3s;
}
.animated-gradient-border:hover,
.animated-gradient-border:active {
  animation: gradient-border 2s linear infinite alternate;
  box-shadow: 0 0 16px 0 rgba(144,97,255,0.5);
}
@keyframes gradient-border {
  0% {
    border-image-source: linear-gradient(90deg, #B145FF, #30A0FF);
  }
  100% {
    border-image-source: linear-gradient(270deg, #B145FF, #30A0FF);
  }
}
